* {
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    padding:10px;
    margin-bottom: none;
}
.navdiv {
    display: flex; /*flex na rin button, goes right, small screen= center*/
    align-items: center; /*nakacenter sla sa whole bar*/
}

.navbar ul {
    display: flex;  /*kapag small screen per line*/
    justify-content: left; 
}

.navbar li {
    list-style: none; /*removes bullet: home, about us*/
}

.navbar li a {
    color: #2b281f;
    font-family: 'inter', sans-serif;
    font-size: 18px;
    text-decoration: none; /*removes underlined text*/
    font-weight: light; /*not bold*/
    margin-right: 25px; /*put space between home, about us*/
}

.navbar li a:hover { /*highlight per word pag natapat*/
    background-color: #ab8868;
    border-radius: 90px;
    padding: 10px;
}

button {
    background-color: #FEFFD2;
    margin-left: auto;
    border-radius: 90px; /*pagkabilog ng button*/
    padding: 10px;
    width: 140px;
}

button a {
    color: #2b281f;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.sinkscover{
    background-image: url('sinkscover.jpg');
    background-size: cover;
    background-position: center; /*placed in center*/
    height: 600px;
    width: 100%;
}

/*MAIN CONTENT*/
.wrapper {
    width: 100%;
}

.header-info {
    width: 100%;
    text-align: center;
    font-family: 'inter', sans-serif;
}

.header-info h1 {
    padding-top: 50px;
    font-size: 50px;
    color:black;
}

.flex-content {
    display: flex;
    padding: 25px;
    justify-content: space-between; /*enables space between each*/
    gap: 10px; /*specify space size between each flex item*/
}

.sink1-info {
    width: 100%;
}

.sink1-jpg {
    border-radius: 30px;
}

.sink2-jpg {
    border-radius: 30px;
}

.sink3-jpg {
    border-radius: 30px;
}

.sink3-info {
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}


li {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .navdiv {
        flex-direction: column; /*ul and button vertically*/
    }

    .navbar ul {
        flex-direction: column; /*make navigation links vertical*/
        text-align: center;
    }

    .navbar li {
        margin-bottom: 20px;
    }

    button {
        margin-left: 0; /*Removes left margin for small screens*/
        width: 100%; /*button span in full width*/
    }

    .sinkscover {
        display: block;
        padding-bottom: 30px;
        padding-top: 50px;
        height: 250px;
        width: 100%;
    }

    .flex-content {
        flex-direction: column; /*make the pics and description vertical like in navdiv*/
    }
}

